extends layout
block content

  include ./menu.jade
  

  .jumbotron
    h1 #{title}
    p Welcome to #{title} Website
    p
     a.btn.btn-primary(href='/api') API Query   
    p
     a.btn.btn-primary(href='/addparents') New Parents




  div.footer


